*{
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #1B2432;
}

body, .quote-input {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    /* border: 1px solid red; */
    background-color: #62BEC1;
    border-radius: .5rem;
    width: 700px;
    max-width: 70%;
    padding: 1rem;
}

.timer {
    position: absolute;
    top: 2rem;
    font-weight: bold;
    font-size: 4rem;
    color:#62BEC1;
}

.quote-input {
    background: none;
    border: #3F797B 2px solid;
    border-radius: .5rem;
    width: 100%;
    margin: auto;
    outline: none;
    resize: none;
    height: 10rem;
    padding: .5rem 1rem;
}

.quote-input:focus{
    border-color: black;
}

.quote-display {
    margin-bottom: 1rem;
    margin-left: calc(1rem + 2px);
    margin-right: calc(1rem + 2px);
}
